body {
  font-family: 'Oxygen', sans-serif;
  background-color: white;
  text-align: center;
}

.item-title {
  font-weight: bold;
  color: white;
}

.item-title:hover {
  color: rgb(191, 219, 254);
  text-decoration: none;
}

.delete {
  color: white;
}

.delete:hover {
  color: rgb(191, 219, 254);
}

.flex-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.border-dashed {
  border: 2px dashed black;
}

.about-p {
  width: 10rem;
  overflow-x: hidden;
}